[submodule "sdk-java"]
	path = sdk-java
	url = https://github.com/pydio/cells-sdk-java.git
	branch = future

[submodule "cells-android-client"]
	path = cells-client
	url = https://github.com/pydio/cells-android-client.git
