[submodule "sdk-java"]
	path = sdk-java
	url = https://github.com/pydio/cells-sdk-java.git
	branch = main

[submodule "cells-client"]
	path = cells-client
	url = https://github.com/pydio/cells-android-client.git
	branch = main
